__pycache__/
*.pyc
.env
data/*.csv
mlflow_artifacts/
mlflow_local/
.dbt/
.user.yml
logs/
target/
dbt_packages/
*.log
.api.log
.mlflow.log
.pip_install.log
.train.log
.venv/
venv/
.idea/
.vscode/
*.egg-info/
*.egg
build/
dist/
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
